[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
coveralls = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
mypy = "*"
bumpversion = "*"
pytest-timeout = "*"

[packages]
arrow = "*"
pycapnp = "*"
tornado = "*"
psutil = "*"
pyzmq = "*"
click = "*"
