[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
pyzmq = "*"
arrow = "*"
pycapnp = "*"
tornado = "*"
psutil = "*"

[dev-packages]
coveralls = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
mypy = "*"
bumpversion = "*"
pytest-timeout = "*"
pytest-tornado = "*"
